<!DOCTYPE html>
<html>
<head>
    <style>
       body {
              background-color: #C2DED1;
            }
            
            h1 {
              color: #354259;
              text-align: center;
            }
        </style>
</head>
<body>
    <h1><br><br><br>Welcome to ATN shop</h1>
  </div>
  <form method="POST" action="">
    <h1><button type="submit" class="submitBtn" value ="login">Login Here!</button></h1>
  </form>
</div>
</body>
</html>

