<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
           body {
             background-color: #C2DED1;
           }
           
           h1 {
             color: #100577e2;
             text-align: center;
           }
           p{
            color: #03220fe3;
            text-align: center;
           }
           table{
            text-align: left;
            overflow: hidden;
            width: 80%;
            margin: 0 auto;
            display: table;
            padding: 0 0 8em 0;
           }
           th h1 {
	          font-weight: bold;
            font-size: 1em;
            text-align: center;
            color: #fff;
           }
          td {
            font-weight: normal;
            font-size: 1em;
            box-shadow: 0 2px 2px -2px #0E1119;
          }
          div{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }
          form{
            width: 50%;
            height: 70vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* glass effect */
            background: rgba(255, 255, 255, 0.2);
            padding: 0.5em;
            border-radius: 1em;
        }

          td, th {
            padding: 10px 12px 10px 12px;
          }
          table, th, td {
            border:1px solid black;
          }
    </style>
</head>
<body>
    <h1>Update Product</h1>
    <div>
        <%- product_detail %>
    </div>
</body>
</html>